# Importing and setting the Dataset

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objs as go
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [12]:
traits_survey = pd.read_csv('/content/data-final.csv', sep='\t')
traits_survey.head()

   EXT1  EXT2  EXT3  ...  country  lat_appx_lots_of_err  long_appx_lots_of_err
0   4.0   1.0   5.0  ...       GB               51.5448                 0.1991
1   3.0   5.0   3.0  ...       MY                3.1698                101.706
2   2.0   3.0   4.0  ...       GB               54.9119                -1.3833
3   2.0   2.0   2.0  ...       GB                 51.75                  -1.25
4   3.0   3.0   3.0  ...       KE                   1.0                   38.0

[5 rows x 110 columns]

In [13]:
traits_survey.shape

(1015341, 110)

## Data Preprocessing